{
	"reporter": [
		"lcov",
		"json",
		"text-summary"
	],
  "all": true,
  "include": [
    "index.js",
    "src/**/*.js"
  ],
	"report-dir": "./coverage",
	"check-coverage": true,
	"lines": 0,
	"statements": 0,
	"branches": 0,
	"functions": 0
}
